.autoOrganizr {
  table {
    border-collapse: collapse; 
    width: 100%; 
  }
  
  th, td {
    border: 1px solid #f2f2f2; /* Adds a solid black border around each table header and cell */
    padding: 8px; /* Adds space between the cell content and its borders */
    text-align: left; /* Optional: Aligns the text to the left of the cell */
  }
  
  th {
    background-color: black ; /* Optional: Sets a background color for the table headers */
  }
}
